{% extends 'base.html.twig' %}

{% block title %}SnowTricks !{% endblock %}

{% block body_id %}home{% endblock %}

{% block body %}
    <div class="above-the-fold">
        <img src="{{ asset('/uploads/img/snowtricks_bg.webp') }}" alt="">
        <h1>Votre plateforme collaborative pour<br>apprendre, partager et vivre<br>votre passion pour<br>le snowboard!</h1>
        <div id="arrowBottomCta" class="arrowBottomCta"></div>
    </div>

    <div class="container" id="tricks-container">
        <section class="tricks">
            <h2>Les Tricks :</h2>
            <div class="row row-cols-lg-5 row-cols-1 list-tricks"
                 data-per-page="10"
                 data-url="{{ path('app_fetch_tricks') }}"
            >
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-dark w-auto" id="load-more-comments">
                    <span class="spinner-border spinner-border-sm spinner" aria-hidden="true" hidden></span>
                    <span role="status">Voir plus de Tricks</span>
                </button>
            </div>
        </section>
        <div id="scroll-to-top">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"></path>
            </svg>
        </div>
    </div>

    {% if app.user %}
    {{ include('figure/_partials/delete-modal.html.twig') }}
    {% endif %}

{% endblock %}
