{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <main class="main login_form">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Réinitialisation du mot de passe</h1>
                </div>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
                {{ form_end(resetForm) }}
            </section>
        </div>
    </main>

{% endblock %}
