{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un nouveau groupe de figures
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Ajouter un nouveau groupe de figures</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                {{ form_start(form) }}

                {{ form_row(form.name) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
