<div class="modal fade" id="deleteTrickCoverModal" tabindex="-1" aria-labelledby="deleteTrickCoverModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTrickCoverModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer l'image principale du Trick ? ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a data-bs-dismiss="modal" id="btn-remove-trick-cover" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>
