{% for comment in collection.items %}
    <div class="comment"{% if collection.last_page == collection.page and loop.last %} data-last-item="true"{% endif %}>
        <div class="comment-author">
            <img src="{{ comment.auteur.avatar.filePath }}" alt="photo de l'auteur">
            <span class="name">@{{ comment.auteur.username }}</span>
        </div>
        <div class="content">
            <p>{{ comment.contenu }}</p>
            <span class="timeago">{{ comment.createdAt|date('d/m/Y H:i') }}</span>
        </div>
    </div>
{% endfor %}