@import "~bootstrap/scss/bootstrap";
@import "_partials/fonts";
@import "_partials/header";
@import "_partials/footer";
@import "_partials/login_form";
@import "_partials/home";
@import "_partials/figure";
@import "_partials/arrow";
@import "_partials/form";

body {
    background-color: #7a90dc;

    .temp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: inherit;
    }

    h1 {
        color: #fff;
    }
}
